<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>中博企培</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2"/>
    <link href="resources/web/css/reset.css" rel="stylesheet">
    <link href="resources/web/css/newstyle.css" rel="stylesheet">
    <script src="resources/web/js/jquery-2.2.4.min.js"></script>
    <link href="resources/web/css/jquery.bxslider.css" rel="stylesheet" />
    <script src="resources/web/js/slider/jquery.bxslider.min.js"></script>
    <!--<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>-->
    <script>
        $(document).ready(function(e) {
            var slider=$('.bxslider').bxSlider({
                speed:500,
                startSlide:0,
                captions:false,//show title
                auto:true,
                easing:'linear',
                preloadImages:'all',
                pager:true,//焦点
                controls:true,
                pause:5000,
                autoHover:false
            });
            $("body").click(function(){
                slider.startAuto();
            });
        });
    </script>
</head>
<body style="background: #f1f1f1;">
    <div class="phonenumber">
        <div class="diyibu">
            <div><a href="index">服务热线：400-965-9919</a></div>
            <div>购物车</div>
            <div><a href="toregister">注册</a></div>
            <div><a href="toweblogin">登陆</a></div>
        </div>
    </div>

    <div class="conbanner">
        <div class="banbody">
            <img src="resources/web/images/timg.jpg">
        </div>
        <div class="aboutme">
            <div class="biaoti">关于我们</div>
        </div>
    </div>

    <div class="conbody">
        <div class="contentabout">
            <div class="titlenames" style="margin-top: 40px;">基本概况<span></span></div>
            <div class="jieshaotxt">
                北京中博财智教育咨询有限公司（简称中博财智）为中博诚通国际教育集团旗下子公司，专注于国际高端财经资格证书、企业财务管理和培训咨询、人力资源管理及工具类教育培训与实践研究。致力于通过专业化、定制化、个性化、立体化的优质服务，打造中国企业培训的领先品牌，帮助企业组织和个人开展人才培养和后续教育服务，提高管理效率，提升业绩水平。
                通过长期的持续积累，中博财智已经形成了一整套独具特色优势的培训方法和教学增值服务体系，在业界积累了良好的行业口碑。先后为华大基因、华为、宝马、中国石油、中国工商银行、中国建设银行、中国民生银行、TCL等众多全球优秀企业，提供过中英双语、专业化程度高、实用性强的高品质国际财务管理培训和咨询。
            </div>
            <div class="titlenames" style="margin-top: 40px;">企业文化<span></span></div>
            <div class="jieshaotxt">
                愿景：致力于成为中国企业培训的领先品牌，助力企业的人才培养和后续教育，优化企业人才培养方案，陪伴企业成长，成为企业发展中的战略合作伙伴。
                使命：根据企业需求，优化企业现有培养方案，凭借自身研发团队，提供企业培训及后续教育支持。
            </div>
            <div class="titlenames" style="margin-top: 40px;">价值观<span></span></div>
            <div class="jieshaotxt2">
                诚信（Honesty）、卓越（Optimization）、专业（Professional）、前沿（Edge）
            </div>
            <div class="a-rongyu">
                <div class="titlenames" style="margin-top: 40px;">企业荣誉<span></span></div>
                <table>
                    <tr>
                        <td><img src="resources/web/images/rongyu.png"></td>
                        <td></td>
                        <td><img src="resources/web/images/rongyu.png"></td>
                        <td></td>
                        <td><img src="resources/web/images/rongyu.png"></td>
                        <td></td>
                        <td><img src="resources/web/images/rongyu.png"></td>
                        <td></td>
                        <td><img src="resources/web/images/rongyu.png"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="resources/web/images/rongyu.png"></td>
                        <td></td>
                        <td><img src="resources/web/images/rongyu.png"></td>
                        <td></td>
                        <td><img src="resources/web/images/rongyu.png"></td>
                        <td></td>
                        <td><img src="resources/web/images/rongyu.png"></td>
                        <td></td>
                        <td><img src="resources/web/images/rongyu.png"></td>
                    </tr>
                </table>
            </div>
            <div class="a-anli">
                <div class="titlenames" style="margin-top: 40px;">客户案例<span></span></div>
                <table>
                    <tr>
                        <td class="a-tubiao" width="11%"><img src="resources/web/images/comp6.png"></td>
                        <td width="11%"><img src="resources/web/images/anli2.png"></td>
                        <td width="11%" class="a-tubiao"><img src="resources/web/images/anli3.png"></td>
                        <td width="11%"><img src="resources/web/images/anli4.png"></td>
                        <td width="11%" class="a-tubiao"><img src="resources/web/images/anli5.png"></td>
                        <td width="11%"><img src="resources/web/images/anli6.png"></td>
                        <td width="11%" class="a-tubiao"><img src="resources/web/images/anli7.png"></td>
                        <td width="11%"><img src="resources/web/images/anli8.png"></td>
                        <td width="11%" class="a-tubiao"><img src="resources/web/images/anli9.png"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="a-tubiao"><img src="resources/web/images/anli10.png"></td>
                        <td><img src="resources/web/images/anli11.png"></td>
                        <td class="a-tubiao"><img src="resources/web/images/anli12.png"></td>
                        <td><img src="resources/web/images/anli13.png"></td>
                        <td class="a-tubiao"><img src="resources/web/images/anli14.png"></td>
                        <td><img src="resources/web/images/anli15.png"></td>
                        <td class="a-tubiao"><img src="resources/web/images/anli16.png"></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="a-renke">
                <div class="titlenames" style="margin-top: 40px;">质量获得国际认可<span></span></div>
                <table>
                    <tr>
                        <td width="33%"><img src="resources/web/images/renke1.png"></td>
                        <td width="34%"><img src="resources/web/images/renke2.png"></td>
                        <td width="33%"><img src="resources/web/images/renke3.png"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



    <div class="phonenumber" style="margin-top: 15px">
        <div class="diyibu">
            <div>© 2017 Starbucks Corporation.All rights reserved. 沪ICP备17003747号 沪公网安备 31010402000253号</div>
        </div>
    </div>

    <script>
        $(function(){
            $(".tabdawen .tab a").click(function(){
                $(this).addClass('on').siblings().removeClass('on');
                var index = $(this).index();
                number = index;
                $('.tabdawen .content .con').hide();
                $('.tabdawen .content .con:eq('+index+')').show();
            });
            $(".tabdawen2 .tab a").click(function(){
                $(this).addClass('on').siblings().removeClass('on');
                var index = $(this).index();
                number = index;
                $('.tabdawen2 .content .con').hide();
                $('.tabdawen2 .content .con:eq('+index+')').show();
            });
            $(".tabdawen3 .tab a").click(function(){
                $(this).addClass('on').siblings().removeClass('on');
                var index = $(this).index();
                number = index;
                $('.tabdawen3 .content .con').hide();
                $('.tabdawen3 .content .con:eq('+index+')').show();
            });
            $(".headtwonav .linav").hover(function() {
//                alert(1)
                $(this).find(".chil").stop();
                $(this).find(".chil,.childs").css("width",$(this).outerWidth());
                $(this).find(".chil").slideDown(300);
            }, function() {
                $(this).find(".chil").stop();
                $(this).find(".chil").slideUp(100);
            });
            $(".twoli").hover(function() {
                $(this).find(".threenav").stop();
                $(this).find(".threenav").show(300);
            }, function() {
                $(this).find(".threenav").stop();
                $(this).find(".threenav").hide(100);
            });
            $(".cuanfu .left li").hover(function() {
                $(this).find(".chil").stop();
                $(this).find(".chil").css("width",$(this).outerWidth());
                $(this).find(".chil").slideDown(300);
            }, function() {
                $(this).find(".chil").stop();
                $(this).find(".chil").slideUp(100);
            });
        })
        $(function () {
            var marginTop = 0;
            $(window).scroll(function() {
                var scrollTop = $(window).scrollTop();
                if( scrollTop >= 170) {
                    $('.blackbg').fadeIn();
                } else{
                    $('.blackbg').fadeOut();
                }
            });
        });
        function totop(){
            $(document.documentElement).animate({
                scrollTop: 0
            },100);
            $(document.body).animate({
                scrollTop: 0
            },100);
        }

    </script>
</body>
</html>