<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="resources/web/css/reset.css" rel="stylesheet">
    <link href="resources/web/css/newstyle.css" rel="stylesheet">
    <script src="resources/web/js/jquery-2.2.4.min.js"></script>
    <link href="resources/web/css/jquery.bxslider.css" rel="stylesheet"/>
    <script src="resources/web/js/slider/jquery.bxslider.min.js"></script>
    <style>
        ul.nav-tabs {
            width: 140px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

        ul.nav-tabs li {
            margin: 0;
            border-top: 1px solid #ddd;
        }

        ul.nav-tabs li:first-child {
            border-top: none;
        }

        ul.nav-tabs li a {
            margin: 0;
            padding: 8px 16px;
            border-radius: 0;
        }

        ul.nav-tabs li:first-child a {
            border-radius: 4px 4px 0 0;
        }

        ul.nav-tabs li:last-child a {
            border-radius: 0 0 4px 4px;
        }

        ul.nav-tabs.affix {
            top: 30px; /* Set the top position of pinned element */
        }

        .div_head, .div_order {
            font-size: 11px;
            border: 1px solid lightblue;
            border-radius: 5px;
            margin-bottom: 30px;
            background-color: beige;
        }

        .div_head {
            font-weight: 600;
            height: 50px;
            line-height: 50px;
        }

        .div_order {
            height: 100px;
            line-height: 100px;
        }


    </style>
</head>
<body>
<div class="container">
    <div><input name="loginId" type="hidden" id="loginId" th:value="${session.loginId}"></div>
    <div class="diyibu">
        <div><a href="index">首页</a></div>
        <div><a href="toshopcar">购物车</a></div>
        <div id="web_div">
            <div><a href="toregister?toHref=topersonalcenter">注册</a></div>
            <div><a href="toweblogin?toHref=topersonalcenter">登陆</a></div>
        </div>
        <div id="login_div">
        </div>
    </div>
    <div class="jumbotron" style="margin-top: 30px;">
        <h3>个人中心</h3>
    </div>
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="#" onclick="toPersonal()">个人资料</a></li>
                <li><a href="#" onclick="toShopCar()">我的购物车</a></li>
                <li><a href="#" onclick="toBought()">购买的宝具</a></li>
            </ul>
        </div>
        <div class="col-xs-9" id="content_div" style="height:500px;width:70%;">

        </div>
    </div>
</div>
<script>
    var personalHtml = "<div id='personal'>\n" +
        "                <div class='row' style='margin-bottom:20px;'>\n" +
        "                    <div class='col-md-6 mb-3'>\n" +
        "                        <label for='name'>姓名</label>\n" +
        "                        <input type='text' class='form-control' id='name' name='name' placeholder='' value=''\n" +
        "                               required=''>\n" +
        "                    </div>\n" +
        "                </div>\n" +
        "                <div class='row' style='margin-bottom:20px;'>\n" +
        "                    <div class='col-md-6 mb-3'>\n" +
        "                        <label for='sex'>性别</label>\n" +
        "                        <select class='form-control d-block w-100' id='sex' name='sex' required=''>\n" +
        "                            <option value='男'>男</option>\n" +
        "                            <option value='女'>女</option>\n" +
        "                        </select>\n" +
        "                    </div>\n" +
        "                </div>\n" +
        "                <div class='row' style='margin-bottom:20px;'>\n" +
        "                    <div class='col-md-6 mb-3'>\n" +
        "                        <label for='tel'>电话号码</label>\n" +
        "                        <input type='text' class='form-control' id='tel' name='tel' placeholder='' value='' required=''>\n" +
        "                    </div>\n" +
        "                </div>\n" +
        "                <div class='row' style='margin-bottom:20px;'>\n" +
        "                    <div class='col-md-6 mb-3'>\n" +
        "                        <label for='card'>身份证号码</label>\n" +
        "                        <input type='text' class='form-control' id='card' name='card' placeholder='' value=''\n" +
        "                               required=''>\n" +
        "                    </div>\n" +
        "                </div>\n" +
        "                <div class='row' style='margin-bottom:20px;'>\n" +
        "                    <div class='col-md-12 mb-3'>\n" +
        "                        <label for='address'>地址</label>\n" +
        "                        <input type='text' class='form-control' id='address' name='address' placeholder=''>\n" +
        "                    </div>\n" +
        "                </div>\n" +
        "                <button class='btn btn-primary' type='submit'>保存</button>\n" +
        "            </div>";
    var shopCarHtml = "<div id='orderHead' class='div_head'>\n" +
        "               <div class='col-md-2'>名称</div>\n" +
        "               <div class='col-md-2'>单价</div>\n" +
        "               <div class='col-md-1'>天数</div>\n" +
        "               <div class='col-md-1'>押金</div>\n" +
        "               <div class='col-md-2'>总价</div>\n" +
        "               <div class='col-md-2'>开始时间</div>\n" +
        "               <div class='col-md-2'>操作</div>\n" +
        "             </div>";
    var boughtHtml = "<div id='shopCar'>\n" +
        "                <table id='tableShop' class='table table-bordered table-hover'>\n" +
        "                    <thead>\n" +
        "                    <tr>\n" +
        "                        <th width='15%'>订单编号</th>\n" +
        "                        <th width='20%'>名称</th>\n" +
        "                        <th width='12%'>价格</th>\n" +
        "                        <th width='12%'>押金</th>\n" +
        "                        <th width='12%'>状态</th>\n" +
        "                        <th width='12%'>创建时间</th>\n" +
        "                        <th>操作</th>\n" +
        "                    </tr>\n" +
        "                    </thead>\n" +
        "                    <tbody>\n" +
        "                    </tbody>\n" +
        "                </table>\n" +
        "            </div>";
    $(function () {
        toPersonal();
        getInfo();
    });

    function toPersonal() {
        $("#content_div").html(personalHtml);
        var loginId = $("#loginId").val();
        $.ajax({
            url: "../custom/find",
            type: "post",
            data: {loginId: loginId},
            dataType: "json",
            success: function (data) {
                if (data.state == 1) {
                    var entity = data.data;
                    $("#name").val(entity.name);
                    $("#sex").val(entity.sex);
                    $("#tel").val(entity.tel);
                    $("#card").val(entity.card);
                    $("#address").val(entity.address);
                }
            }

        });
    }

    function webLoginOut(obj) {
        $.ajax({
            url: "/custom/loginout",
            type: "post",
            data: {loginId: obj},
            dataType: "json",
            success: function (data) {
                console.log(data);
                if ("退出成功" == data.message) {
                    $("#web_div").show();
                    $("#login_div").html("");
                    alert("已退出登录！");
                    location.reload();
                }
            }

        })
    }

    function toShopCar() {
        console.log(shopCarHtml);
        $("#content_div").html(shopCarHtml);
        var loginId = $("#loginId").val();
        $.ajax({
            url: "../order/findbyloginIdandposition",
            type: "post",
            data: {
                loginId: loginId,
                position: 1
            },
            dataType: "json",
            success: function (data) {
                console.log(data);
                var html = "";
                $("#orderHead").after(html)
            }

        });
    }


    function toBought() {
        $("#content_div").html(boughtHtml);
        var loginId = $("#loginId").val();
        $.ajax({
            url: "",
            type: "post",
            data: {loginId: loginId},
            dataType: "json",
            success: function (data) {
                var html = "";
                // $("#content_div").html(html);
            }

        });
    }

    function getInfo() {
        var loginId = $("#loginId").val();
        if ("" != loginId) {
            $.ajax({
                url: "../custom/find",
                type: "post",
                data: {loginId: loginId},
                dataType: "json",
                success: function (data) {
                    if (1 == data.state) {
                        // console.log(data);
                        $("#web_div").hide();
                        var loginName = data.data.name;
                        $("#login_div").html("<div><a href='#' onclick='webLoginOut(" + loginId + ")'>退出</a></div><div><a href='topersonalcenter'>" + loginName + "</a></div>")
                    }
                }
            });
        }
    }

    function changeContent(obj, id) {
//        $.ajax({
//            type: "post",
//            url: "${changeTicketURL}",
//            data: {
//                '<portlet:namespace/>projectId': id
//            },
//            error: function (err) {
//                alert("提交失败!");
//            },
//            success: function (data) {
//                var list = eval('(' + data + ')');
//                var table = '';
//                $.each(list, function (i, e) {
//                    console.log(i);
//                    table += '<table class="contentDiv_table" border="1"><tr>';
//                    table += '<td colspan="2" class="table_title"><a class="table_a" href="#" onclick="jump(' + e['tollStationId'] + ',\'' + e['stationName'] + '\')">' + e['stationName'] + '</a></td></tr>';
//                    table += '<tr><td colspan="2" class="table_next">当前通行卡存量：<span class="table_span"  style="color: ' + e['curColor'] + '">' + e['curNum'] + '</span></td></tr>';
//                    table += '<tr><td class="table_td">上个班发：<span class="td_span">' + e['curOut'] + '</span></td>' +
//                        '<td class="table_td">上个班收：<span class="td_span">' + e['curRecycle'] + '</span></td></tr>';
//                    table += '<tr><td class="table_td">当月发：<span class="td_span">' + e['monthOut'] + '</span></td>' +
//                        '<td class="table_td">当月收：<span class="td_span">' + e['monthRecycle'] + '</span></td></tr>';
//                    table += '</table>';
//                })
//                document.getElementById("contentDiv").innerHTML = table;
//            }
//        });
    }
</script>
</body>
</html>