<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>雪具详情</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="resources/web/css/reset.css" rel="stylesheet">
    <link href="resources/web/css/newstyle.css" rel="stylesheet">
    <script src="resources/web/js/jquery-2.2.4.min.js"></script>
    <link href="resources/web/css/jquery.bxslider.css" rel="stylesheet"/>
    <script src="resources/web/js/slider/jquery.bxslider.min.js"></script>
    <style>
        .div_left {
            border: 1px solid lightgrey;
            height: 500px;
            /*background-image: url(sun.jpg);*/
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .div_right {
            font-size: 18px;
        }

        .div_bottom {
            border: 1px solid black;
            margin-top: 80px;

        }

        .div_content {
            height: 120px;
            padding-top: 5px;
            padding-left: 10px;
            background-color: #EDEDEE;
        }

        .div_deposit {
            font-size: 22px;
            background-color: wheat;
            height: 50px;
            line-height: 50px;
            margin: 20px 0;
            padding-left: 10px;
        }

        .input_normal {
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .div_content, .div_price, .div_startTime, .div_day {
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<div class="container">
    <div><input name="loginId" type="hidden" id="loginId" th:value="${session.loginId}"></div>
    <div><input name="productId" type="hidden" id="productId" th:value="${session.productId}"></div>
    <div class="diyibu">
        <div><a href="index">首页</a></div>
        <div><a href="toshopcar">购物车</a></div>
        <div id="web_div">
            <div><a href="toregister?toHref=toproductview">注册</a></div>
            <div><a href="toweblogin?toHref=toproductview">登陆</a></div>
        </div>
        <div id="login_div">
        </div>
    </div>
    <div class="jumbotron" style="margin-top: 30px;">
        <h3>雪具详情</h3>
    </div>
    <div class="sngl-top">
        <div class="col-md-5 single-top-left div_left">
            <img src="" id="image" style="width: 100%;height: 100%;">
        </div>
        <div class="col-md-7 single-top-right div_right">
            <div class="single-para simpleCart_shelfItem">
                <h1 id="name"></h1>
                <div class="div_deposit"><span id="deposit"></span>元</div>
                <div class="div_content" id="content">
                </div>
                <div class="div_price">
                    租赁单价：&nbsp;&nbsp;&nbsp;<span id="price"></span>&nbsp;&nbsp;元/天
                </div>
                <div class="div_startTime">
                    开始时间：&nbsp;&nbsp;&nbsp;<input id="startTime" type="date" class="input_normal"
                                                  style="width: 200px;"/>
                </div>
                <div class="div_day">
                    租赁天数：&nbsp;&nbsp;&nbsp;<input id="day" type="text" class="input_normal" style="width: 80px;"/>&nbsp;&nbsp;天
                </div>
                <button class="btn btn-primary" style="margin-top:30px;" onclick="addToCart()">加入购物车</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- <div class="div_bottom">
        介绍详情！！！！
    </div> -->
</div>
<script>
    $(function () {
        getInfo();
        getProductInfo();
    });

    function addToCart() {
        var loginId = $("#loginId").val();
        var productId = $("#productId").val();
        var name = $("#name").html();
        var deposit = $("#deposit").html();
        var price = $("#price").html();
        var startTime = $("#startTime").val();
        var day = $("#day").val();
        console.log(startTime);
        if ("" == loginId) {
            alert("请先登录！");
            return;
        }
        if ("" == productId) {
            alert("请先选择商品！");
            return;
        }
        if ("" == startTime) {
            alert("请先添加开始时间！");
            return;
        }
        if ("" == day) {
            alert("请先添加天数！");
            return;
        }
        order = {
            customId: loginId,
            productId: productId,
            productName: name,
            deposit: deposit,
            price: price,
            startTime: startTime + " 00:00:01",
            day: day
        };
        $.ajax({
            url: "../order/add",
            type: "post",
            data: JSON.stringify(order),
            contentType: "application/json;chrset=UTF-8",
            success: function (data) {
                if (1 == data.state) {
                    alert("已加入购物车！")
                }
            }
        });
    }

    function getInfo() {
        var loginId = $("#loginId").val();
        if ("" != loginId) {
            $.ajax({
                url: "../custom/find",
                type: "post",
                data: {loginId: loginId},
                dataType: "json",
                success: function (data) {
                    if (1 == data.state) {
                        // console.log(data);
                        $("#web_div").hide();
                        var loginName = data.data.name;
                        $("#login_div").html("<div><a href='#' onclick='webLoginOut(" + loginId + ")'>退出</a></div><div><a href='topersonalcenter'>" + loginName + "</a></div>")
                    }
                }
            });
        }
    }

    function getProductInfo() {
        var productId = $("#productId").val();
        if ("" != productId) {
            $.ajax({
                url: "../product/find",
                type: "post",
                data: {id: productId},
                dataType: "json",
                success: function (data) {
                    if (1 == data.state) {
                        console.log(data);
                        $("#web_div").hide();
                        var name = data.data.name;
                        var deposit = data.data.deposit;
                        var content = data.data.content;
                        var price = data.data.price;
                        var src = data.data.src;
                        $("#name").html(name);
                        $("#deposit").html(deposit);
                        $("#content").html(content);
                        $("#price").html(price);
                        $("#image").attr("src", "../file/showimg/" + src);
                    }
                }
            });
        }
    }

    function webLoginOut(obj) {
        $.ajax({
            url: "/custom/loginout",
            type: "post",
            data: {loginId: obj},
            dataType: "json",
            success: function (data) {
                console.log(data);
                if ("退出成功" == data.message) {
                    $("#web_div").show();
                    $("#login_div").html("");
                    alert("已退出登录！");
                    location.reload();
                }
            }

        })
    }
</script>
</body>
</html>