<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout">
<head>
    <meta charset="UTF-8"/>
    <title>订单管理</title>
    <link rel="stylesheet" href="/resources/plugins/datatables/media/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet"
          href="/resources/plugins/datatables/extensions/jquery-datatables-checkboxes/css/dataTables.checkboxes.css"/>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
            <li class="active">订单管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12" style="padding-top: 30px">
                <div class="box">
                    <div class="box-header">
                        <div class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
                            <div>
                                <select class="form-control" id="position" name="position">
                                    <option value="">状态</option>
                                    <option value="1">购物车</option>
                                    <option value="2">已付款</option>
                                    <option value="3">在使用</option>
                                    <option value="4">已完成</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" onclick="search()" type="button">搜索</button>
                        </div>
                        <!--<button type="button" class="btn btn-primary createbutton" onclick="openCreate()">新增</button>-->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th width="5%">编号</th>
                                <th width="14%">产品</th>
                                <th width="8%">类型</th>
                                <th width="7%">用户</th>
                                <th width="10%">联系电话</th>
                                <th width="10%">开始时间</th>
                                <th width="8%">使用周期</th>
                                <th width="8%">总价</th>
                                <th width="16%">付款时间</th>
                                <th width="6%">状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-7">
                                <div class="fenye" id="page" style="float: right;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <script src="/resources/plugins/page/page.js"></script>
    <script src="/resources/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/resources/plugins/datatables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="/resources/plugins/datatables/extensions/jquery-datatables-checkboxes/js/dataTables.checkboxes.min.js"></script>
    <script src="/resources/plugins/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/resources/plugins/sweetalert/sweetalert.css"/>
    <script>
        var no;
        var url;
        var pageNum = 1;
        function GetRequest() {
            url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                str = url.substr(1);
                if (str.indexOf("&") != -1) {
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        no = theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                        pageNum = no;
                    }
                } else {
                    no = theRequest[str.split("=")[0]] = unescape(str.split("=")[1]);
                    pageNum = no;
                    console.log("no:" + no)
                }
            }

        }

        $(function () {
            GetRequest();
            if (url != "") {
                pageNo(no);
            }
            if (url == "") {
                no = 1;
                pageNo(no);
            }
        });

        function findorder(orderid) {
            $.ajax({
                url: "/order/find",
                type: "post",
                data: {
                    "id": orderid
                },
                dataType: "json",
                success: function (data) {
                    if (data.state == 1) {
                        console.log(JSON.stringify(data));
                        var position = data.data.position;
                        changePosition(orderid,position);
                    }
                }
            });





        }

        function changePosition(orderid,position) {
            console.log(orderid+"++"+position)
            if(position == "2" ){
                swal({
                    title: "改订单的状态为\"在使用\"",
                    text: "修改后无法恢复，请确认客户已租借成功",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "确认", cancelButtonText: "取消",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        url: "/order/changeposition",
                        type: "post",
                        data: {
                            "id": orderid,
                            "position":position
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.state == 1) {
                                swal({
                                    title: "状态修改成功！",
                                    type: "success",
                                    closeOnConfirm: true
                                }, function () {
                                    location.href = '/order/toorderlist';
                                });
                            }
                        },
                        error: function () {
                            swal("状态修改失败！", "请联系系统管理员。", "error");
                        }
                    })
                });
            }
            if(position == "3" ){
                swal({
                    title: "改订单的状态为\"已完成\"",
                    text: "修改后无法恢复，请确认道具已归还成功",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "确认", cancelButtonText: "取消",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        url: "/order/changeposition",
                        type: "post",
                        data: {
                            "id": orderid,
                            "position":position
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.state == 1) {
                                swal({
                                    title: "道具是否损坏？",
                                    text: "请仔细检查道具是否完好无损！",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonText: "已损坏，去填写损坏描述！",
                                    cancelButtonText: "未损坏！",
                                    closeOnConfirm: false,
                                    closeOnCancel: false
                                }, function(isConfirm){
                                    if (isConfirm) {
                                        swal({
                                            title: "订单完成！道具损坏！去填写损坏描述",
                                            type: "success",
                                            closeOnConfirm: true
                                        }, function () {
                                            location.href = "/product/toupdateproduct" + "?id=" + data.data.productId ;
                                        })

                                    } else {
                                        swal({
                                            title: "订单完成！道具正常！",
                                            type: "success",
                                            closeOnConfirm: true
                                        }, function () {
                                            location.href = '/order/toorderlist';
                                        })
                                    }
                                });
                            }
                        },
                    })
                });
            }
        }

        function template(data) {
            console.log(data)
            var id;
            //渲染列表
            $("table tbody").empty();
            for (var i = 0; i < data.length; i++) {
                id = data[i].id;
                var procuctname = data[i].procuctname == null ? "" : data[i].procuctname;
                var productId = data[i].productId == null ? "" : data[i].productId;
                var producttype = data[i].producttype == null ? "" : data[i].producttype;
                var customId = data[i].customId == null ? "" : data[i].customId;
                var customname  = data[i].customname  == null ? "" : data[i].customname ;
                var customphone = data[i].customphone == null ? "" : data[i].customphone;
                var startTime = data[i].startTime == null ? "" : data[i].startTime.substring(0,10);
                var day = data[i].day == null ? "" : data[i].day;
                var price = data[i].price == null ? "" : data[i].price;
                var discount = data[i].discount == null ? "" : data[i].discount;
                var allprice = day*price*discount;
                var position = data[i].position == null ? "" : getpositiono(data[i].position);
                var updateTime = data[i].updateTime == null ? "" : data[i].updateTime;
                $("table tbody").append("<tr role='row' class='even'>"
                        + "   <td>" + id + "</td>"
                        + "   <td><a href='#' onclick='toproduct("+productId+")'>" + procuctname + "</a></td>"
                        + "   <td>" + producttype + "</td>"
                        + "   <td><a href='#' onclick='tocustom("+customId+")'>" + customname + "</a></td>"
                        + "   <td>" + customphone + "</td>"
                        + "   <td>" + startTime + "</td>"
                        + "   <td>" + day + "</td>"
                        + "   <td>" + allprice + "</td>"
                        + "   <td>" + updateTime + "</td>"
                        + "   <td><a href='#' onclick='findorder("+id+")'>" + position + "</a></td>"
                        + "   <td><a href='#' onclick='deleteOne(" + id + ")'>删除</a></td>"
                        + "   </tr>");
            }
        }

        function pageNo(no) {
            $.ajax({
                type: "post",
                url: "/order/search",
                data: {
                    pageSize: 10,
                    pageIndex: no,
                },
                dataType: "json",
                success: function (data) {
                    console.log(data.data)
                    $("#page").pagination({
                        pageIndex: no, // 默认页
                        pageSize: data.data.size, // 默认分页大小
                        totalCount: data.data.totalElements,
                        onChange: function (pageIndex, pageSize) {
                            $.ajax({
                                type: "post",
                                url: "/order/search",
                                data: {
                                    pageSize: pageSize,
                                    pageIndex: pageIndex,
                                },
                                dataType: "json",
                                success: function (data) {
                                    console.log(data)
                                    template(data.data.content);
                                    pageNum = pageIndex;
                                },
                                error: function () {
                                    swal("跳转失败！", "跳转失败。", "error");
                                }
                            })
                        }
                    })
                    template(data.data.content);
                }
            });
        }

        function getpositiono(data) {
            var position = "";
            if(data ==1){
                position = "购物车"
            }else if(data == 2 ){
                position = "已付款"
            }else if(data == 3 ){
                position = "在使用"
            }else{
                position = "已完成"
            }
            return position;

        }


        function deleteOne(id) {
            swal({
                title: "您确定要删除这条信息吗",
                text: "删除后将无法恢复，请谨慎操作！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除", cancelButtonText: "取消",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: "/order/delete",
                    type: "post",
                    data: {
                        id: id,
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.state == 1) {
                            swal({
                                title: "删除成功！",
                                text: "您已经永久删除了这条信息。", confirmButtonText: "删除",
                                confirmButtonText: "删除",
                                type: "success",
                                closeOnConfirm: true
                            }, function () {
                                location.href = '/order/toorderlist';
                            });
                        }
                    },
                    error: function () {
                        swal("删除失败！", "删除失败。", "error");
                    }
                })
            });
        }

        function search() {
            var position = $("#position option:selected").val();
            $.ajax({
                type: "post",
                url: "/order/search",
                data: {
                    pageSize: 10,
                    pageIndex: 1,
                    position: position
                },
                dataType: "json",
                success: function (data) {
                    $("#page").pagination({
                        pageIndex: no, // 默认页
                        pageSize: data.data.pageSize, // 默认分页大小
                        totalCount: data.data.rowCount,
                        onChange: function (pageIndex, pageSize) {
                            $.ajax({
                                type: "post",
                                url: "/order/search",
                                data: {
                                    pageSize: pageSize,
                                    pageIndex: pageIndex,
                                    position: position
                                },
                                dataType: "json",
                                success: function (data) {
                                    template(data.data.content);
                                }
                            })
                        }
                    });
                    template(data.data.content);
                }
            })
        }


        function toproduct(data) {
            location.href = "/product/toproductinfo" + "?id=" + data ;
        }
        function tocustom(data) {
            location.href = "/custom/tocustominfo" + "?id=" + data;
        }




    </script>
</div>

</body>

</html>


