<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">

</head>
<body>
<section class="sidebar" th:fragment="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            <img th:src="${avatar==null?'resources/img/default.jpg':avatar}" src="resources/img/default.jpg"
                 style="max-height: 45px" class="img-circle"
                 alt="头像"/>
        </div>
        <div class="pull-left info">
            <p th:text="${session.CURRENTUSER!=null?session.CURRENTUSER.username:'无法显示'}"></p>
            <!-- Status -->
            <a href="javascript:;" id="role"><i class="fa fa-circle text-success"></i>在线 </a>
        </div>
    </div>
    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">

        </div>
    </form>
    <!-- /.search form -->
    <ul class="sidebar-menu">
        <li class="header">菜单</li>

    </ul>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var priviledge = /*[[${session.CURRENTUSER!=null?session.CURRENTUSER.auth:null}]]*/  //页面对应操作权限参数，通过视图返回
            priviledge = priviledge || {}
        $(function () {
            $.ajax({
                url: "sidebarmenu",
                type: "get",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.state == 0) {
                        menutemplate(data.data);
                        $(".sidebar-menu li a").each(function (e) {
                            if ($(".content-header h1").text().trim() === $(this).text().trim()) {
                                $(this).parent("li").addClass("active");
                                $(this).closest(".treeview").addClass("active");
                            }
                        })
                    } else {

                    }
                }
            })
        })

        function menutemplate(data) {
            // var li = ' <li><a href="touserlist.htm"><i class="fa fa-user"></i> <span>用户管理</span></a></li>'
            var menus = [];
            var setLi = function (li) {
                return $(' <li><a href="' + li.url + '" data-menu="' + li.menuName + '"><i class="' + li.icon + '"></i> ' + li.label + '</a></li>')
            }
            var setTree = function (treeData) {
                var tree = '<li class="treeview">\
                <a href="javascript:;"><i class="' + treeData.icon + '"></i> ' + treeData.label + '\
                    <span class="pull-right-container">\
                    <i class="fa fa-angle-left pull-right"></i>\
                    </span>\
                    </a>\
                    <ul class="treeview-menu">\
                    </ul>\
                    </li>'
                var node = $(tree);
                for (var j = 0; j < treeData.child.length; j++) {
                    node.find(".treeview-menu").append(setLi(treeData.child[j]))
                }
                return node;
            }
            for (var i = 0; i < data.length; i++) {
                data[i].label = '<span>' + data[i].label + '</span>'
                if (data[i].child != null) {
                    menus.push(setTree(data[i]))
                } else {
                    menus.push(setLi(data[i]))
                }
            }
            $(".sidebar-menu").append(menus)

        }

        function showTool(target, handles, selectedItem) {
            var container = function (chosedItem) {
                return '\'<div class="userbtn"><div class="morebtn">\
                    <span id="fe">已选中<label>' + chosedItem + '</label>项</span>\
                         <i id="closeIcon" class="fa fa-fw fa-close"></i></div></div>\
                   '
            }
            var tool = function (handle, name, icon) {
                var html = '<span><a href="javascript:;"><i class="' + icon + '"></i>' + name + '</a></span>'
                $(".userbtn #fe").after(html)
                $(html).on("click", handle)
            }
            var render = function () {
                var menu = /*[[${menu!=null?menu:null}]]*/
                    menu = menu || ''
                var item = ''
                $(target).append(container(selectedItem))
                $("#closeIcon").on("click", function () {
                    $(".userbtn").animate({width: '0', opacity: 'toggle'}, 200);
                })
                //todo op操作
                for (var i = 0; i < priviledge[menu].length; i++) {
                    switch (priviledge[menu][i]) {
                        case "VIEW":
                            break;
                        case "DELETE":
                            item += tool(handles.DELETE, "删除", "fa fa-fw fa-trash")
                            break;
                        default:
                            break;
                    }
                }
            }
            if ($(target).html().length > 0) {
                $(".userbtn").animate({width: 'toggle', opacity: 'toggle'}, 200);

            } else {
                render()
                $(".userbtn").animate({width: 'toggle', opacity: 'toggle'}, 200);

            }
        }

        function hideTool() {
            $(".userbtn").animate({width: '0', opacity: 'toggle'}, 200);
        }

        /*]]>*/
    </script>

</section>


</body>
</html>