<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>供应商添加</title>
    <link rel="stylesheet" href="/resources/plugins/datatables/media/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet"
          href="/resources/plugins/datatables/extensions/jquery-datatables-checkboxes/css/dataTables.checkboxes.css"/>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
            <li class="active">供应商添加</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12" style="padding-top: 30px">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">供应商添加</h3>
                        <button type="button" class="btn btn-primary createbutton" onclick="back()">返回</button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body"  style="align-content: center">
                        <form action="" class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-2">请输入姓名：<span style="color: red">*</span></label>
                                <div class="col-md-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="姓名" name="name"
                                           id="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">电话号码：<span style="color: red">*</span></label>
                                <div class="col-md-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="电话号码" name="tel"
                                           id="tel">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">地址：</label>
                                <div class="col-md-6  col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="地址" name="address"
                                           id="address">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="reset" class="btn btn-primary">重置</button>
                                    <div  class="btn btn-success" onclick="tosubmit()">确认提交</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <script src="/resources/plugins/page/page.js"></script>
    <script src="/resources/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/resources/plugins/datatables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="/resources/plugins/datatables/extensions/jquery-datatables-checkboxes/js/dataTables.checkboxes.min.js"></script>
    <script src="/resources/plugins/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/resources/plugins/sweetalert/sweetalert.css"/>


    <!--<script src="/resources/plugins/jQuery/jquery-2.2.3.min.js"></script>-->
    <script src="/resources/js/ajaxfileupload.js"></script>
    <script>

        function tosubmit() {
            var name =$("#name").val();
            var address =$("#address").val();
            var tel =$("#tel").val();

            var skiingSupportEntity = {
                "name": name,
                "address":address,
                "tel":tel,

            };
            console.log(JSON.stringify(skiingSupportEntity));
            $("#load-layout").show()
            $.ajax({
                url: "../support/add",
                data:JSON.stringify(skiingSupportEntity),
                type: "post",
                contentType: "application/json;chrset=UTF-8",
                success: function (data) {
                    $("#load-layout").hide()
                    if (data.state == 1) {
                        swal({
                            title: "提示",
                            text: "创建成功！",
                            type: "success"
                        }, function () {
                            location.href="/support/tosupportlist";
                        })
                    }
                }
            });

        }

        function back() {
            history.back();
        }

    </script>
</div>

</body>

</html>


